@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Reset for Melbourne Precision */
html {
  scroll-behavior: smooth;
  background-color: #111111;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
